In [1]:
import pandas as pd
import json
from pybliometrics.scopus import AbstractRetrieval, AuthorRetrieval, AffiliationRetrieval
import warnings
import datetime
import sqlalchemy

In [2]:
## Load configuration from json file
con_file = open("config.json")
config = json.load(con_file)
con_file.close()

## Initializing SQL

In [3]:
schema = config["schema"]
host = config["host"]
user = config["user"]
password = config["password"]
port = config["port"]

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
connection_string

'mysql+pymysql://root:centermethods2024$@127.0.0.1:3306/ai_sdgs'

## Importing excel sheet from Google Drive

In [62]:
#importing and opening file
url_id = config['url_id']
url_base = "https://docs.google.com/spreadsheets/d/"
url_e = "export/format=xlsx"
file = pd.ExcelFile(f"{url_base}{url_id}{url_e}")  
with pd.ExcelFile(file) as xls:  
    df = pd.read_excel(xls, "cleaner table", header=0)
    
#ignoring warnings
warnings.filterwarnings("ignore", category=DeprecationWarning, message=".*utcnow.*")
now = datetime.datetime.utcnow()


#removing blank columns
df = df.iloc[:,:44]
#removing useless columns for analysis
columns_to_drop = ["Author(s) ID", "Volume", "Issue", "Art. No.", 
                   "Page start", "Page end", "Page count", 
                   "Link", "Index Keywords", "Document Type", 
                   "Publication Stage", "Open Access", "Source"]
df = df.drop(columns=columns_to_drop)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Authors                                  855 non-null    object
 1   Author full names                        843 non-null    object
 2   Title                                    854 non-null    object
 3   Year                                     855 non-null    int64
 4   Source title                             855 non-null    object
 5   Cited by                                 855 non-null    int64
 6   DOI                                      849 non-null    object
 7   Author Keywords                          613 non-null    object
 8   Abstract                                 824 non-null    object
 9   EID                                      855 non-null    object
 10  SDG                                      855 non-null    int64
 11  AI (yes/no)                              855 non-null    int64
 12  Sustainability (yes/no)                  855 non-null    int64
 13  Type of AI                               855 non-null    object
 14  Algorithm(s) used                        855 non-null    object
 15  Method (1) vs. study object (2)          849 non-null    object
 16  AI as buzzword? (0/1)                    855 non-null    int64
 17  Core topic                               855 non-null    object
 18  Role of AI                               577 non-null    object
 19  Means (1) vs. end (2)                    849 non-null    object
 20  sustainability definition                419 non-null    object
 21  Sus_lvl                                  855 non-null    object
 22  empirical/conceptual/review              855 non-null    object
 23  spatial scale                            455 non-null    object
 24  snapshot in time vs. longitudinal study  518 non-null    object
 25  temporal scale (past, present, future)   522 non-null    object
 26  qualitative/quantitative/mixed methods   525 non-null    object
 27  location of the study (country)          368 non-null    object
 28  dataset used                             443 non-null    object
 29  first_author_country                     855 non-null    object
 30  policy recommendations (1/0)             855 non-null    int64
dtypes: int64(7), object(24)
memory usage: 207.2+ KB

In [135]:
# renaming the columns
columns_to_rename = {'EID': 'eid',
                     'Title': 'title',
                     'Year': 'year_pub',
                     'SDG': 'sdg',
                     'Source title': 'journal',
                     'Cited by': 'cited_by',
                     'DOI': 'doi',
                     'Algorithm(s) used': 'algorithms_used',
                     'Sus_lvl': 'sustainability_conceptualization',
                     'empirical/conceptual/review': 'article_type',
                     'spatial scale': 'spatial_scale',
                     'snapshot in time vs. longitudinal study': 'temporal_scope',
                     'temporal scale (past, present, future)': 'temporal_scale',
                     'qualitative/quantitative/mixed methods': 'methodology',
                     'policy recommendations (1/0)': 'policy_recommendations'
                    }
df = df.rename(columns= columns_to_rename)

df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.lower()
df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.lower()
df["sustainability_conceptualization"] = df["sustainability_conceptualization"].str.strip()

df["article_type"] = df["article_type"].str.lower()
df["article_type"] = df["article_type"].str.lower()
df["article_type"] = df["article_type"].str.strip()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Authors                           855 non-null    object
 1   Author full names                 843 non-null    object
 2   title                             854 non-null    object
 3   year_pub                          855 non-null    int64
 4   journal                           855 non-null    object
 5   cited_by                          855 non-null    int64
 6   doi                               849 non-null    object
 7   Author Keywords                   613 non-null    object
 8   Abstract                          824 non-null    object
 9   eid                               855 non-null    object
 10  sdg                               855 non-null    int64
 11  AI (yes/no)                       855 non-null    bool
 12  Sustainability (yes/no)           855 non-null    bool
 13  Type of AI                        855 non-null    object
 14  algorithms_used                   855 non-null    object
 15  Method (1) vs. study object (2)   849 non-null    object
 16  AI as buzzword? (0/1)             855 non-null    bool
 17  Core topic                        855 non-null    object
 18  Role of AI                        577 non-null    object
 19  Means (1) vs. end (2)             849 non-null    object
 20  sustainability definition         419 non-null    object
 21  sustainability_conceptualization  855 non-null    object
 22  article_type                      855 non-null    object
 23  spatial_scale                     455 non-null    object
 24  temporal_scope                    518 non-null    object
 25  temporal_scale                    522 non-null    object
 26  methodology                       525 non-null    object
 27  location of the study (country)   368 non-null    object
 28  dataset used                      443 non-null    object
 29  first_author_country              855 non-null    object
 30  policy_recommendations            855 non-null    bool
dtypes: bool(4), int64(3), object(24)
memory usage: 183.8+ KB

In [137]:
df["sustainability_conceptualization"].unique()

array(['weak', 'strong', 'medium'], dtype=object)

### Type of article df

In [167]:
type_article = df[["eid","article_type"]]
type_article.to_sql('type_of_article',
                  if_exists='append',
                  con=connection_string,
                  index=False)

855

In [168]:
suslvl_article = df[["eid","sustainability_conceptualization"]]
suslvl_article.to_sql('sus_lvl',
                  if_exists='append',
                  con=connection_string,
                  index=False)

855

## Authors dataframe

In [71]:
#creating the function
def articles_info(eids):
    arts = []
    for eid in eids:
        #applying pybliometrics
        arts.append(AbstractRetrieval(eid, view='FULL'))
    return arts

In [72]:
#extracting all the eid's and scopus id's
eids = df["EID"].tolist()
#calling the function, make sure to have your API key running
articles = articles_info(eids)

In [73]:
#creating dictionary
authors = {
            'article_eid': [],
            'author_id': [],
            'author_name': [],
            'affiliation_country': [],
            'position in article': []
            }
#iterating over each element in the articles list
for article in articles:
    #iterating over each element in authorgroup
    for i in range(len(article.authorgroup)):
        authors['article_eid'].append(article.eid)
        authors['author_id'].append(article.authorgroup[i].auid)
        first_name = article.authorgroup[i].given_name
        last_name = article.authorgroup[i].surname
        authors['author_name'].append(f'{first_name} {last_name}')
        authors['affiliation_country'].append(article.authorgroup[i].country)
        authors['position in article'].append(str(i+1))

authors_df = pd.DataFrame(authors)

In [74]:
authors_df.loc[authors_df["position in article"]=="1",]

,article_eid,author_id,author_name,affiliation_country,position in article
0,2-s2.0-85091803788,56319399400,Scott Thiebes,Germany,1
3,2-s2.0-85089383999,57218510909,Juin-Hao Ho,Taiwan,1
6,2-s2.0-85128853821,56512092600,Marius Bartmann,Germany,1
7,2-s2.0-85127588032,57562370000,Aurélie Halsband,Germany,1
8,2-s2.0-85177554926,36618183700,Raghu Raman,India,1
...,...,...,...,...,...
6361,2-s2.0-85128453304,57580812100,Jiyoung Jang,South Korea,1
6363,2-s2.0-85174748358,57205140187,Johnblack K. Kabukye,Sweden,1
6376,2-s2.0-85171645006,58606568400,Meizhen Deng,China,1
6379,2-s2.0-85160969682,58221931100,Xingce Zhu,China,1
6388,2-s2.0-85122722865,55331174600,Valentin Kuleto,Serbia,1

## Articles dataframe

### Converting columns to boolean

In [63]:
columns_to_boolean = ["AI (yes/no)", 
            "Sustainability (yes/no)", 
            "AI as buzzword? (0/1)",
            "policy recommendations (1/0)"]

In [64]:
df[columns_to_boolean] = df[columns_to_boolean].astype('bool')

### Creating dataframe

In [113]:
metadata_df = df.loc[:,["eid", "title", "year_pub",
                        "sdg", "journal", 
                        "cited_by", "doi",  "policy_recommendations"]]


metadata_df['sdg'] = metadata_df['sdg'].astype('str')

metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   eid                     855 non-null    object
 1   title                   854 non-null    object
 2   year_pub                855 non-null    int64
 3   sdg                     855 non-null    object
 4   journal                 855 non-null    object
 5   cited_by                855 non-null    int64
 6   doi                     849 non-null    object
 7   policy_recommendations  855 non-null    bool
dtypes: bool(1), int64(2), object(5)
memory usage: 47.7+ KB

### Pushing it to SQL

In [166]:
metadata_df.to_sql('articles',
                  if_exists='append',
                  con=connection_string,
                  index=False)

855

## Algorithms-articles dataframe

### Function to separate values in the same cell

In [70]:
def separating(df, old_column, new_column):
    df[new_column] = df[old_column].str.split(';')
    df = df.explode(new_column)
    df = df.drop(columns=old_column).reset_index(drop=True)
    df[new_column] = df[new_column].str.strip()
    df[new_column] = df[new_column].str.lower()
    return df

### Creating dataframe

In [116]:
# aral means ar(ticle)al(gorithm)

aral_df = df.loc[:, ["eid", "algorithms_used"]]
aral_df = separating(aral_df, "algorithms_used", "algorithms")
aral_df = aral_df.sort_values(by="algorithms", ascending=True).reset_index(drop=True)
aral_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   eid         1194 non-null   object
 1   algorithms  1194 non-null   object
dtypes: object(2)
memory usage: 18.8+ KB

### Pushing it to SQL

In [165]:
aral_df.to_sql('articles_algorithms',
                if_exists='append',
                con=connection_string,
                index=False)

1194

## Algorithms, type of AI and tasks dataframes

### Importing sheet from drive

In [120]:
url_id = config['url_id']
url_base = "https://docs.google.com/spreadsheets/d/"
url_e = "export/format=xlsx"
file = pd.ExcelFile(f"{url_base}{url_id}{url_e}")  
with pd.ExcelFile(file) as xls:  
    names_df = pd.read_excel(xls, "algorithms abbreviations", header=0)
    
#ignoring warnings
warnings.filterwarnings("ignore", category=DeprecationWarning, message=".*utcnow.*")
now = datetime.datetime.utcnow()

In [121]:
names_df["Algorithm name"] = names_df["Algorithm name"].str.lower()
names_df["Abbreviations"] = names_df["Abbreviations"].str.lower()
names_df["Abbreviations"] = names_df["Abbreviations"].str.strip()
names_df

,Algorithm name,Abbreviations,Type of AI,Type of task
0,artificial algae algorithm,aaa,evolutionary algorithms,optimization
1,adaboost with locally weighted learning,ablwl,supervised machine learning; local learning,classification
2,ant-colony optimization,aco,evolutionary algorithms; multi-agent systems,optimization; pathfinding
3,adaboost,adaboost,supervised machine learning,classification
4,adam optimizer,adam optimizer,deep learning; optimization algorithms,optimization
...,...,...,...,...
189,xgboost,xgboost,ensemble learning,classification; regression
190,xlnet neural network mode,xlnet,deep learning; nlp,language modeling; text generation
191,xy- fused querynetworks,xyf,deep learning,question answering; language understanding
192,you only look once algorithm,yolo,deep learning; computer vision,object detection
193,zfnet,zfnet,deep learning; computer vision,image classification

### algorithms_list table

In [127]:
## algorithms dataframe
algo_df = names_df.drop_duplicates(subset="Abbreviations")[["Abbreviations", "Algorithm name"]]
algo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Abbreviations   194 non-null    object
 1   Algorithm name  194 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [140]:
columns_to_rename = {"Abbreviations": "algorithms",
                     "Algorithm name": "algorithm_name"
                    }
algo_df = algo_df.rename(columns= columns_to_rename)

In [143]:
algo_df.to_sql('algorithms_list',
                if_exists='append',
                con=connection_string,
                index=False)

194

### ai_type_list_table

In [151]:
aitype = separating(names_df, "Type of AI", "ai_type")[["ai_type"]]
aitype = aitype.drop_duplicates(subset="ai_type")
aitype = aitype.reset_index(drop=True)
aitype

                                 ai_type
0                evolutionary algorithms
1            supervised machine learning
2                         local learning
3                    multi-agent systems
4                          deep learning
5                optimization algorithms
6          unsupervised machine learning
7                            fuzzy logic
8   intelligent decision support systems
9                   probabilistic models
10                         generative ai
11                                   nlp
12                       neural networks
13                    statistical models
14                       computer vision
15                                   llm
16     multi-criteria decision making ai
17                reinforcement learning
18                               edge ai
19                       active learning
20                        explainable ai
21                           symbolic ai
22                 graph neural networks
23                         geospatial ai
24                     regression models
25                             hybrid ai
26                        metaheuristics
27          multi-objective optimization
28          feature selection algorithms
29               time series forecasting
30              dimensionality reduction
31                            regression
32                               overall
33                     ensemble learning
34                          optimization
35                    swarm intelligence
36                              robotics
37                    spatio-temporal ai
38                  time series analysis
39                           unspecified
40                               various

In [150]:
aitype.to_sql('ai_type_list',
                if_exists='append',
                con=connection_string,
                index=False)

41

### task_type_list

In [155]:
tasktype = separating(names_df, "Type of task", "task_type")[["task_type"]]
tasktype = tasktype.drop_duplicates(subset="task_type")
tasktype = tasktype.reset_index(drop=True)

tasktype

                   task_type
0               optimization
1             classification
2                pathfinding
3    representation learning
4   dimensionality reduction
..                       ...
69  spatio-temporal analysis
70               unspecified
71                   various
72        question answering
73    language understanding

[74 rows x 1 columns]

In [156]:
tasktype.to_sql('task_type_list',
                if_exists='append',
                con=connection_string,
                index=False)

74

### algorithms_aitype

In [161]:
algo_ai = separating(names_df, "Type of AI", "ai_type")[["Abbreviations","ai_type"]]
algo_ai = algo_ai.rename(columns= {"Abbreviations":"algorithms"})
algo_ai

    algorithms                      ai_type
0          aaa      evolutionary algorithms
1        ablwl  supervised machine learning
2        ablwl               local learning
3          aco      evolutionary algorithms
4          aco          multi-agent systems
..         ...                          ...
229        xyf                deep learning
230       yolo                deep learning
231       yolo              computer vision
232      zfnet                deep learning
233      zfnet              computer vision

[234 rows x 2 columns]

In [162]:
algo_ai.to_sql('algorithms_aitype',
                if_exists='append',
                con=connection_string,
                index=False)

234

### algorithms_tasktype

In [163]:
algo_task = separating(names_df, "Type of task", "task_type")[["Abbreviations","task_type"]]
algo_task = algo_task.rename(columns= {"Abbreviations":"algorithms"})
algo_task

    algorithms               task_type
0          aaa            optimization
1        ablwl          classification
2          aco            optimization
3          aco             pathfinding
4     adaboost          classification
..         ...                     ...
282      xlnet         text generation
283        xyf      question answering
284        xyf  language understanding
285       yolo        object detection
286      zfnet    image classification

[287 rows x 2 columns]

In [164]:
algo_task.to_sql('algorithms_tasktype',
                if_exists='append',
                con=connection_string,
                index=False)

287

## Broader category

In [6]:
#importing and opening file
url_id = config['url_id']
url_base = "https://docs.google.com/spreadsheets/d/"
url_e = "export/format=xlsx"
file = pd.ExcelFile(f"{url_base}{url_id}{url_e}")  
with pd.ExcelFile(file) as xls:  
    topic_df = pd.read_excel(xls, "topic", header=0)
    
#ignoring warnings
warnings.filterwarnings("ignore", category=DeprecationWarning, message=".*utcnow.*")
now = datetime.datetime.utcnow()

topic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 855 entries, 0 to 854
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   eid               855 non-null    object
 1   core_topic        855 non-null    object
 2   broader_category  855 non-null    object
 3   abstract          824 non-null    object
dtypes: object(4)
memory usage: 26.8+ KB

In [7]:
topic_df.to_sql('abstracts',
                  if_exists='append',
                  con=connection_string,
                  index=False)

855